body {
	background-color: #dddddd;
}
.board {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 95vh;
}
.roster, .pairing {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
	height: 100%;
	min-width: 200px;
	width: 20%;
}
.roster {
	width: 10%;
}
.list, .paired {
	height: 15%;
}

/*Lists*/
#rosterA {
	border-right: dashed;
}
#rosterB {
	border-left: dashed;
}
.title {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
.list img {
	margin: 5px;
	border: 0.5rem outset;
	height: 80%;
}
.list.rosterA img, .pairing .teamA img {
	border-color: #aa2222;
}
.list.rosterB img, .pairing .teamB img {
	border-color: #2222aa;
}
.list.rosterA.second img {
	filter: invert(1);
	border-color: #55dddd;
}
.list.rosterB.second img {
	filter: invert(1);
	border-color: #dddd55;
}
.list.rosterA.selected img, .list.selected.rosterB img{
	border-color: #22aa22;
}
.list.rosterA.second.selected img, .list.second.selected.rosterB img{
	border-color: #dd55dd;
}
div.list.listPaired img {
	filter: invert(0.4);
}
div.second.list.listPaired img {
	filter: invert(0.6);
}

/*Pairings*/
.paired {
	width: 100%;
	display: flex;
	justify-content: center;
}
.attackers {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.pairing img {
	margin: 5px;
	border: 0.5rem outset;
	height: 80%;
	background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
    width: 12vh;
}
.pairing .attacker {
	background-image: url("images/assets/attacker.png");
/*	width: 35%;*/
}
.pairing .attacker.denied {
	filter: invert(0.4);
}
.defender {
	background-image: url("images/assets/defender.png");
}
.refused {
	background-image: url("images/assets/refused.png");
}
.forgotten {
	background-image: url("images/assets/forgotten.png");
}
.pairing img.hasTable {
	border-color: #22aa22;	
}

/*Infos*/
.infos {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	width: 40%;
}
.infos img {
	width: 100%;
	margin: 10px 20px;
}

/*Modal*/
.modal-wrapper {
	background-color: #aaaaaa;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	height: 100%;
	flex-flow: column wrap;
}
.modal {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 95vh;
	flex-flow: wrap column;
}
.factionsRoster {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: wrap;
	height: 100%;
	width: 60%;
}
.faction {
	display: flex;
	width: 15%;
	height: 15%;
	display: flex;
	align-items: center;
	flex-flow: column;
}
.faction img {
	margin: 5px;
	border: 0.5rem outset;
	height: 80%;
}
.faction.selected img{
	border-color: #22aa22;
}
#validateRoster {
	align-self: center;I
}

.footer {
	display: flex;
	justify-content: center;
}

button {
	margin: 0px 20px;
}